doctype html
html
  head
    title 后台管理系统
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/bannerList.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div.container1
      div.main 
        div.select
          form(action="/like", method="get") 
            select
              option(value="请选择") 
              option(value="请选择") 
              option(value="请选择") 
              option(value="请选择")
            div.search
              input(type="text" name='searchVal') 
              button.searchBtn 
                img(src="/images/icon_fangda.png", alt="")
            button.addBtn 添加
        div.content 
          table.table 
            thead
              tr 
                th ID
                th 图片名称
                th 图片路径
                th 操作
            tbody
              - bannerList
              each item in bannerList 
                tr 
                  td #{item.id}
                  td #{item.name}
                  td #{item.imgurl}
                  td 
                    img.edit(src="/images/btn_chakan.png", alt="")
                    img.del(src="/images/btn_shanchu.png", alt="")
          div.page 
            ul.pagination 
              li.page-item.disabled
                a(href='javascript:;') 共#{pager.maxNum}条
              li.page-item.disabled
                a(href='javascript:;') 总#{pager.pages}页
              li.page-item.disabled
                a(href='/bannerList?page='+1) 首页
              li.page-item
                a.head(href='/bannerList?page='+parseInt(parseInt(pager.pageCurrent)-1) alt='xx') 上一页
              li.page-item
                -parent
                  for i in parent.prev
                    a(href='/bannerList?page='+i alt='') #{i}
                  a.active(href='/bannerList?page='+pager.pageCurrent) #{pager.pageCurrent}
                  for i in parent.total
                    a(href='/bannerList?page='+i alt='xx') #{i}
              li.page-item
                a(href='/bannerList?page='+parseInt(parseInt(pager.pageCurrent)+1)) 下一页
              li.page-item
                a.last(href='/bannerList?page='+pager.pages) 尾页
    div.dialog.isDialog
    div.dialog-wrap.isDialog
      div.dialog-header
        h3 添加banner图
        div.close 
          img(src="/images/icon_guanbi.png", alt="")
      form(action="/addBanner" enctype="multipart/form-data" method='post') 
        div
          p 图标名称
          p 
            input(type="text" class='form-control' name='imgName')
        div 
          p 图片地址
          p 
            input(type="file" class='upload-input' name='pic' id='uploadInput')
        div.dialog-footer
          span.cancel 取消
          button.confirm 确定
  script(src='/javascripts/jquery.js')
  script.
    $(function(){
      $('.addBtn').click(function(){
        $('.isDialog').show()
      })
      $('.close,.cancel').click(function(){
        $('.isDialog').hide()
      })
    })